<div class="container pt-4">
  <h1 class="mb-5">
    Create (or edit) a student
    <div *ngIf="loading" class="spinner-border float-right" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </h1>
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h3>By Form</h3>
          <form
            class="mt-4"
            [formGroup]="createStudentFormGroup"
            (ngSubmit)="addEditStudent(createStudentFormGroup.value)"
          >
            <div class="form-group mb-3">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="">First Name</span>
                </div>
                <input
                  formControlName="firstName"
                  ngModel
                  name="firstName"
                  autocomplete="name"
                  id="firstName"
                  type="text"
                  class="form-control"
                  placeholder="Enter the or student's names"
                  minlength="3"
                />
              </div>
              <div
                class="text-danger"
                *ngIf="submitted && formControls.firstName.errors?.required"
              >
                The student's name is a required field
              </div>
              <div
                class="text-danger"
                *ngIf="formControls.firstName.errors?.minlength"
              >
                The student's name must be at least 3 characters long.
              </div>
            </div>

            <div class="form-group mb-3">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="">Last name</span>
                </div>
                <input
                  formControlName="lastName"
                  name="lastName"
                  autocomplete="family-name"
                  required
                  id="lastName"
                  type="text"
                  class="form-control"
                  placeholder="Enter the student's last name"
                  minlength="3"
                />
              </div>
              <div
                class="text-danger"
                *ngIf="submitted && formControls.lastName.errors?.required"
              >
                The student's last name is a required field
              </div>
              <div
                class="text-danger"
                *ngIf="formControls.lastName.errors?.minlength"
              >
                The student's last name must be at least 3 characters long.
              </div>
            </div>

            <div class="form-group mb-3">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="">Age</span>
                </div>
                <input
                  formControlName="age"
                  name="age"
                  required
                  id="age"
                  type="number"
                  class="form-control"
                  placeholder="Enter the student's age"
                  [min]="3"
                  [max]="18"
                />
              </div>
              <div
                class="text-danger"
                *ngIf="submitted && formControls.age.errors?.required"
              >
                The student's age is a required field
              </div>
              <div
                class="text-danger"
                *ngIf="submitted && formControls.age.errors?.min"
              >
                The student's age must be between 3 and 18
              </div>
              <div
                class="text-danger"
                *ngIf="submitted && formControls.age.errors?.max"
              >
                The student's age must be between 3 and 18
              </div>
            </div>

            <div class="mt-3">
              <button type="submit" class="btn btn-primary btn-lg right">
                Create
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img
          width="20%"
          class="rounded mx-auto d-block mt-3"
          src="https://image.flaticon.com/icons/png/512/3011/3011270.png"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5
            class="card-title"
            *ngIf="createStudentFormGroup.value.firstName != ''"
          >
            My name is:
            {{
              createStudentFormGroup.value.firstName +
                " " +
                createStudentFormGroup.value.lastName
            }}
          </h5>
          <h6 *ngIf="createStudentFormGroup.value.age > 3" class="card-text">
            I am {{ createStudentFormGroup.value.age }} years old
          </h6>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <hr class="mt-5 mb-5" />

    <div class="row">
      <div class="card">
        <div class="card-body">
          <h3 class="mb-5">
            By XML file <br />
            <span class="h6"
              >Note: If you upload an XML file, students' data will be saved
              automatically
            </span>
          </h3>

          <form>
            <div class="form-group mb-3">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="xml"
                    >Select a valid XML file</span
                  >
                </div>
                <input
                  required
                  name="xml"
                  type="file"
                  class="form-control"
                  id="xml"
                  accept=".xml"
                  (change)="readFile($event)"
                />
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
